*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* reuseable class */
section{
    margin: 80px auto;
}
.head-h1{
    font-size: 48px;
}
.img-border{
    border: none;
}
/* reuseable class  end*/
/* header start */
.text-line-he{
    line-height: 26px;
}
/* header end */
/* Feature Bike section start  */
.feature-bike{
    margin: 60px auto;
}
/* Feature Bike section end  */
/* Happy client section start */
.happy-client{
    margin-top: 135px;
}
/* Happy client section end */
/* Quection section start */
.quection{
    margin-top: 140px !important;
}
/* Quection section end */
/* Form secrion start */
.meassge{
    padding: 70px 0;
}
/* Form secrion end */


